#code
{
    background-color:#fffDBD;
    margin:10px;
    padding:5px;
}
#par1
{
    color:#e40045;
    font-weight:bold;
    font-size:30px;
}
#par2
{
    color:#3714B0;
    font-weight:bold;
    font-size:30px;
}
#par3
{
    color:#FF5F00;
    font-weight:bold;
    font-size:30px;
}